name: AccuKnox DAST Scan

on:
  push:
    branches:
      - stage

jobs:
  zap-dast:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: "Run Accuknox SAST: Opengrep"
        uses: accuknox/sast-scan-opengrep-action@1.0.0
        with:
          accuknox_endpoint: "cspm.demo.accuknox.com"
          accuknox_tenant: "${{ secrets.AK_TENANT_ID }}"
          accuknox_token: "${{ secrets.AK_TOKEN }}"
          accuknox_label: "SAST"
          input_soft_fail: "true"

      - name: Set up Python and install Flask
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install flask
          nohup python app.py > app.log 2>&1 &
          echo "App started"
          sleep 10

      - name: Check app is running
        run: |
          curl -sSf http://localhost:5000 || (echo "App failed to start" && exit 1)

      - name: Run AccuKnox DAST Scan
        uses: ./
        with:
          target_url: "http://localhost:5000"
          accuknox_endpoint: ${{ secrets.ACCUKNOX_ENDPOINT }}
          tenant_id: ${{ secrets.AK_TENANT_ID }}
          accuknox_token: ${{ secrets.AK_TOKEN }}
          label: "dastdemo"
          severity_threshold: "Low"
          scan_type: "baseline"
